@font-face {
    font-family: 'Vanguard CF';
    src: url('../../webfonts/VanguardCF-BoldOblique.woff2') format('woff2'),
        url('../../webfonts/VanguardCF-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vanguard CF';
    src: url('../../webfonts/VanguardCF-Bold.woff2') format('woff2'),
        url('../../webfonts/VanguardCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vanguard CF';
    src: url('../../webfonts/VanguardCF-Regular.woff2') format('woff2'),
        url('../../webfonts/VanguardCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vanguard CF';
    src: url('../../webfonts/VanguardCF-RegularOblique.woff2') format('woff2'),
        url('../../webfonts/VanguardCF-RegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

