/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
  $primary: #EEEEEE;
  $background: #2E3136;

// Brand palette colors.
  $dark: #B7B6B6;
  $white: #eeeeee;
  $yellow: #EAE432;