/**
 * Spacing
 * =================================
 * - Headshots
 * - Icons
 *
 *
 *
 */

//headshots
.mobile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 100%;
  border: 10px solid $dark;
}




//icons
.social-icons {
  font-size: 2.1em;
  text-align: center;
  margin-top: -15px;

  i {
    padding-left: 5px;
    padding-right: 5px;
  }
}


// Large Logo on desktop homepage
.large-logo {
  right: -20px;
  top: -30px;
  width: 70%;
  z-index: 0;
  opacity: .5;
}

@media screen and (min-width: 64em) {
  .large-logo {
    right: 150px;
    top: -30px;
    width: 35%;
    opacity: 1;
  }
}