/**
 * Slants
 * =================================
 * - Slanted backgrounds
 *
 *
 */





.slanted {
  box-sizing: border-box;
  padding: 3em 1em;
  transform: skewY(12deg);
}

@media screen and (min-width: 40em) {
  .slanted {
    padding: 6em 1em;
    transform: skewY(6deg);
  }
}


.slanted > * {
  transform: skewY(-12deg);
  max-width: 55em;
  margin: auto;
  text-align: left;
}

@media screen and (min-width: 40em) {
  .slanted > * {
    text-align: center;
    transform: skewY(-6deg);
  }
}


.slant-dark {
  background-color: $background;
}

.slant-light {
  background-color: $primary;
}

.slant-gray {
  background-color: $dark;
}