/**
 * Backgrounds
 * =================================
 * - Body Background
 * - Photo Header
 * - Video Header
 * - Color Backgrounds
 * - Header Heights
 *
 *
 *
 */

body {
  background-color: $background;
}

//*********************************************
//************** PHOTO HEADER *****************
//*********************************************

.full-background {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 800px;
  position: relative;
}

@media screen and (min-width: 64em) {
  .background-desktop-adjust {
    height: 900px;
  }
}

.full-background-xl {
  height: 100vh;
}


//*********************************************
//************** VIDEO HEADER *****************
//*********************************************
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;

}
.viewport-header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


//*********************************************
//************ COLOR BACKGROUNDS **************
//*********************************************
body {
  background-color: $background;
}

.main-background {
  background-color: $background;
  color: $primary;
}

.inverted-background {
  background-color: $primary;
  color: $background;
}

.primary-background {
  background-color: $background;
}


//*********************************************
//*************** HEIGHT LOCKS ****************
//*********************************************

//this class is used EXCLUSIVELY on the blog page.
.header-height {
  height: 900px;
}

@media screen and (min-width: 40em) {
  .header-height {
    height: 760px;
  }
}

@media screen and (min-width: 70em) {
  .header-height {
    height: 98vh;
  }
}


//this class is used EXCLUSIVELY on the single page.
.header-height-single {
  height: 700px;
}

@media screen and (min-width: 40em) {
  .header-height-single {
    height: 600px;
  }
}

@media screen and (min-width: 70em) {
  .header-height-single {
    height: 85vh;
  }
}


.policy-height {
  height: 500px;
}

@media screen and (min-width: 40em) {
  .policy-height {
    height: 700px;
  }
}