/**
 * Buttons
 * =================================
 * - General Button Styles
 * - Button Style 1
 * - Button Style 2
 *
 *
 *
 *
 */

//*********************************************
//*********** BASIC BUTTON STYLE **************
//*********************************************
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: $yellow;
  color: $background;
  border-radius: 0.6em;
  font-family: $head-font;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 10px 40px;
  min-width: 120px;
  min-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

/*  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }*/
}


//*********************************************
//************* BUTTON STYLE 1 ****************
//*********************************************
.btn-v1 {
  background: $yellow;
  background: rgb(234,228,50);
  background: radial-gradient(circle, rgba(234,228,50,1) 100%, rgba(234,228,50,1) 100%);
  transition: background 600ms ease-in-out;
  font-weight: 800;
  letter-spacing: 1px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  &:hover {
    background: rgb(240,238,191);
    background: radial-gradient(circle, rgba(240,238,191,1) 0%, rgba(234,228,50,1) 100%);
  }
}

//*********************************************
//************* BUTTON STYLE 2 ****************
//*********************************************
.button-width {
  max-width: 400px;
}

.btn-v2-light {
  border: 5px solid $primary;
  color: $primary;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  font-family: $main-font;
  min-height: 35px;
  padding: 13px 120px;
  min-width: 300px;
  text-align: center;
  text-transform: none;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $dark;
    z-index: -1;
    transition:
            width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;

    &:after {
      width: 110%;
    }
  }
}

.btn-v2-dark {
  border: 5px solid $background;
  color: $background;
  background-color: transparent;
  border-radius: 8px;
  display: inline;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  font-family: $main-font;
  min-height: 35px;
  padding: 13px 10px;
  width: 100%;
  text-align: center;
  margin: 7px auto;
  text-transform: none;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $background;
    z-index: -1;
    transition:
            width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;

    &:after {
      width: 110%;
    }
  }
}

