/**
 * FOOTER
 * =================================
 * The hope is to use this and edit as necessary because editing footers suck, albeit less than headers.
 *
 *
 */


//*********************************************
//***************** FOOTER ********************
//*********************************************

.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: .8em;

  p {
    color: $primary;
    padding: 0;
    margin: 0;
  }

  a {
    padding-bottom: 20px;
  }
}


