/**
 * Header
 * =================================
 * The hope is to use this and edit as necessary because editing headers suck.
 *
 *
 */


//*********************************************
//***************** HEADER ********************
//*********************************************

// MOBILE
.sticky {
  text-align: center;
  color: $primary;
  font-size: 32px;
  width: 100%;
  z-index: 99999;
  position: fixed;
  display: block;
  padding: 1px;
  box-sizing: border-box;
}

@media screen and (min-width: 40em) {
  .sticky {
    display: none;
  }
}

#stickyBottom {
  background-color: $primary;
  bottom: 0;
}


.header-mobile {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    width: 50%;
  }

  li span {
    font-size: 1.4em;
    padding-top: 3px;
  }

  span {
    color: $dark;
  }

  li a {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
  }

  .current-menu-item {
    width: 50%;
    z-index: 600;
    position: relative;
  }

  .current-menu-item a {
    background: $dark;
    color: $background;
    border-radius: 5px;
  }

  .current-menu-item a span {
  color: $background;
  }

// arrow
  $arrow-size: 20px;
  $arrow-color: $dark;


  .current-menu-item:before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -$arrow-size*2;
    border: $arrow-size solid transparent;
    border-bottom: $arrow-size solid $arrow-color;
    z-index: 900;
  }
}




// Desktop
.desktop-nav {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $primary;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 99999;
    width: 75px;
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    a {
      font-size: 1.7em;
      display: block;
      color: $dark;
      padding: 8px 16px;
      text-decoration: none;
      border: 6px solid $primary;
    }

    .current-menu-item  {
      background: $dark;
      color: $primary;
      overflow: visible;

      a {
        border: 6px solid $dark;
        border-radius: 5px;
      }

      span {
        color: $background;
        padding-top: 5px;
        padding-bottom: 5px;
      }
  }
}


  $arrow-size: 20px;
  $arrow-color: $dark;

  .current-menu-item:before {
    position: fixed;
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: 75px;
    margin-top: 12px;
    border: $arrow-size solid transparent;
    border-left: $arrow-size solid $arrow-color;

  }
}


// Turn off this menu on mobile
@media screen and (max-width: 39.9375em) {
  .desktop-nav {
    display: none;
  }
}


