/**
 * Main
 * =================================
 * - Variables
 * - Buttons
 * - Footer
 * - Overrides
 * - Backgrounds
 * - Typography
 *
 *
 *
 * - Main file that gets rendered. If partials are roads, than this is Rome.
 */


//*********************************************
//*************** VARIABLES *******************
//*********************************************


@import 'variables/colors.scss';
@import 'variables/fonts.scss';
@import 'variables/sizes.scss';
@import 'components/icon-font'; //technically not a variable, but since it is a font, it needs to be called here


//*********************************************
//**************** UTILITIES ******************
//*********************************************


@import 'utilities/typography';
@import 'utilities/colors';
@import 'utilities/spacing';
@import 'utilities/alignment';
@import 'utilities/utility-classes';
@import 'utilities/visibility';
@import 'utilities/slants';
@import 'utilities/images';


//*********************************************
//*************** COMPONENTS ******************
//*********************************************


@import 'components/header';
@import 'components/footer';
@import 'components/buttons';
@import 'components/backgrounds';
@import 'components/forms';
@import 'components/card';














